@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


:root{
    --black: #2b2a2c;
    --light-grey: #717072;
    --white: #fff;
    --grey: #6a696b;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.btn{
    font-size: 16px;
    color: var(--grey);
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 26px;
    border-radius: 22px;
    border: 1px solid var(--grey);
    cursor: pointer;
    background: none;
    margin-top: 40px;
    text-align: center;
}

.btn:hover{
    background: var(--grey);
    color: var(--white);
}

.heading{
    font-size: 45px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}
/* ................ Header ............. */

header .container .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header .container .inner .user{
    display: flex;
}

header .container .inner .user img{
    border-radius: 50%;
}

header .container .inner .user .content{
    margin-left: 10px;
}

header .container .inner .user .content h3{
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
}

header .container .inner .user .content p{
    font-size: 12px;
    color: var(--grey);
    margin-top: 5px;
}

header .container .inner .navbar a{
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
    margin-right: 40px;
}

header .container .inner .navbar a:hover{
    border-bottom: 3px solid var(--black);

}

/* .................... intro ............... */

.intro .container .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 12px;
}

.intro .container .inner .content h2{
    font-size: 32px;
    font-weight: 300;
    color: var(--black);
}

.intro .container .inner .content h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--black);
}

.intro .container .inner .content p{
    font-size: 18px;
    color: var(--grey);
    margin-top: 20px;
    margin-bottom: 32px;
}

.intro .container .inner .content .social a img{
    margin-right: 11px;
}

.intro .container .inner .content .social a img:hover{
    transform: rotate(35deg);
}

/* ............. Work ................ */

.work .container .heading{
    margin-top: 51px;
    margin-bottom: 21px;
}

.work .container .inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .container .inner .box{
    box-shadow: 0 0 4px var(--grey);
    border-radius: 10px;
}

.work .container .inner .box:hover{
    box-shadow: 0 0 15px var(--grey);
    cursor: pointer;
}

.work .container .inner .box .content{
    padding: 17px;
}

.work .container .inner .box .content p{
    font-size: 12px;
    color: var(--black);
    margin-bottom: 15px;
}

.work .container .inner .box .content .shop{
    display: flex;
    justify-content: space-between;
}

.work .container .inner .box .content .shop h3{
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
}

/* .................. About ........... */

.about .container .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 115px;
}

.about .container .inner .content{
    margin-left: 121px;
    margin-top: 80px;
}

.about .container .inner .content h3{
    font-size: 45px;
    color: var(--black);
    font-weight: bold;
}

.about .container .inner .content h2{
    font-size: 92px;
    color: #dedede;
    font-weight: 700;
}

.about .container .inner .content p{
    font-size: 12px;
    font-weight: 300;
    color: var(--light-grey);
    line-height: 24px;
    margin-bottom: 58px;
}

/* .................... Review................. */

.review{
    /* background-color: #332F30;
    background-image: url(../images/reviews.png);
    background-repeat: no-repeat;
    background-position: center; */
    background: url(../images/reviews.png) #332f30 center no-repeat;
    background-size: cover;
    margin-top: 113px;
    padding-top: 43px;
    padding-bottom: 71px;
    position: relative;
}

.review .container .inner .content{
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.review .container .inner .content p{
    font-size: 14px;
    color: var(--white);
    font-weight: 200;
    line-height: 33px;
}

.review .container .inner .author{
    position: absolute;
    left: calc(50% - 51px);
    margin-top: 23px;
    text-align: center;
}

.review .container .inner .author h4{
    font-size: 16px;
    color: var(--black);
    font-weight: 700;
}

.review .container .inner .author p{
    font-size: 14px;
    color: var(--light-grey);
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 10px;
}

.review .container .inner .author .stars .unactive{
    opacity: .6;
}



/* .................. Courses ........... */

.courses{
    margin-top: 236px;
}

.courses .container .text{
    font-size: 18px;
    font-weight: 200;
    color: var(--light-grey);
    text-align: center;
    margin-bottom: 60px;
}

.courses .container .inner{
    display: flex;
    justify-content: space-between;
}

.courses .container .inner .box{
    width: 32%;
}

.courses .container .inner .box .content h3{
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
    padding-top: 27px;
    padding-bottom: 17px;
}

.courses .container .inner .box .content h4{
    font-size: 12px;
    color: var(--black);
    padding-bottom: 28px;
    font-weight: 400;
}

.courses .container .inner .box .content p{
    font-size: 12px;
    color: var(--light-grey);
    font-weight: 300;
    line-height: 24px;
}

.courses .container .inner .box .content .btn{
    font-size: 14px;
    color: var(--light-grey);
    border: 2px solid var(--light-grey);
    width: 130px;
    padding: 12px;
}

.courses .container .inner .box .content .btn:hover{
    color: var(--white);
}

.courses .container .link{
    text-align: right;
}

.courses .container .link a{
    font-size: 14px;
    color: var(--light-grey);
    font-weight: 300;
    text-decoration: underline;
    margin-top: 20px;
}

/* .................... Footer ............... */

footer{
    background: var(--black);
    margin-top: 125px;
}

footer .container .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

footer .container .inner .info{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .inner .info p{
    font-size: 14px;
    color: #8d8d8e;
    border-right: 1px solid #413f41;
    padding-right: 22px;
}

footer .container .inner .info .social a{
    margin-left: 16px;
}

footer .container .inner .navbar a{
    font-size: 14px;
    color: #8d8d8e;
    text-transform: capitalize;
    padding-left: 16px;
}

/* .................... Media ............ */

@media(max-width: 1200px){
    .container{
        padding: 0 3%;
    }

    .work .container .inner .box{
        width: 32%;
    }

    .work .container .inner .box img{
        width: 100%;
    }

    .courses .container .inner .box img{
        width: 100%;
    }
}

@media(max-width: 978px){
    .intro .container .inner{
        flex-wrap: wrap-reverse;
    }

    .intro .container .inner .content{
        margin-top: 20px;
    }

    /* .about .container .inner .content h3{
        font-size: 30px;
    }

    .about .container .inner .content h2{
        font-size: 55px;
    } */

    .about .container .inner img{
        display: none;
    }

    .about .container .inner .content{
        margin-left: 40px;
    }
}

@media(max-width: 767px){
    header .container .inner .user .content{
        display: none;
    }

    header .container .inner .user img{
        margin-left: 15px;
    }

    header .container .inner .navbar{
        margin-right: 35px;
    }

    .work .container .inner {
        justify-content: center;
    }

    .work .container .inner .box{
        width: 90%;
        margin: 15px 0;
    }

    .work .container .inner .box img{
        width: 100%;
    }

    .courses .container .inner{
        flex-wrap: wrap;
        justify-content: center;
    }

    .courses .container .inner .box{
        width: 90%;
        margin: 10px 0;
    }

    .courses .container .inner .box img{
        width: 100%;
    }
}